.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
}

.message {
  color: blue;
}

.message:hover {
  background-color: yellow;
}

.about-and-login {
  float: right;
  margin: 2em;
}
.about {
  margin-right: 2em !important;
}
