@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Graduate&family=Righteous&display=swap');
html,
body {
  min-width: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  font-weight: normal;
  background-color: white;
  margin-bottom: -100px;
}
header {
  position: relative;
  height: 300px;
  overflow: hidden;
}
header h1 {
  display: grid;
  place-items: center start;
  margin: 1.25em 0 0 0.5em;
  font-size: 5em;
  transform: skewY(6deg);
  color: mediumpurple;
  font-family: 'Righteous', cursive;
}
.intro {
  display: grid;
  place-items: center start;
  margin: 1.25em 0 0 0.5em;
  font-size: 5em;
  color: mediumpurple;
  font-family: 'Righteous', cursive;
}

.header-contents {
  display: grid;
  grid-template-columns: 9rem auto;
  grid-template-rows: 1rem 1rem;
  grid-column: 1;
  place-items: start;
  width: 90%;
  gap: 2em;
  margin: auto;
  margin-top: 2em;
  margin: auto;
  justify-content: left;
}
.page-title {
  display: grid;
  place-items: start;
  margin-left: -2.5em;
  
}
.search-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: start;
  margin-left: 7em;
  margin-top: 9em;
  gap: 2em;
}
.search-input-wrapper {
  display: flex;
  width: 100%;
  padding: 0.5em;
  transform: skewY(6deg);
  border-radius: 0.2em;
  background-color: #7d69af;
  margin-top: -4em;
}
.search-bar {
  border-radius: 0.25em;
  padding-left: 0.5em;
  width: 100%;
  border: none;
  outline: none;
  background-color: #7d69af;
  font-size: 1em;
}
.upload-btn {
  float: right;
  margin-left: 10em;
  margin: 3em 5em 0 0 !important;
}
input,
textarea,
[contenteditable] {
  caret-color: black;
  font-size: 2em;
}
.upload-form{
  padding: 2em;
  background-color: #9e8ec7;
}
.btn{
  background-color: '#A4237F'; 
  font-weight: 'normal';
  border: '5px solid #7D69AF';
  box-sizing: 'border-box';
  border-radius: '5px';
  font-family: 'Righteous'; 
  padding: '0.2em 1.75em';
  font-size: 1.5em;
  cursor: pointer;
}
.story-input{
  width: 100%;
  padding: 0.5em 1em;
  margin: 1em 0;
  box-sizing: border-box;
  display: block;
}
.fa-search {
  font-size: 1.3em;
  color: white;
 
}
::placeholder {
  color: white;
  font-size: large;
}
:-ms-input-placeholder {
  color: white;
}
::-ms-input-placeholder {
  color: white;
}
.select-country {
  margin-top: -0.25em;
  display: flex;
  transform: skewY(6deg);
  width: 100%;
}
.main {
  background-color: #7d69af;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.tab-container {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.tab-button {
	font-size: large;
	margin-left: 1rem;
	padding: 0.5rem 1rem;
	background-color: #A4237F;
	border-radius: 5px;
	border: none;
	color: white;
	opacity: 0.6;
}
.tab-button.active {
opacity: 1;
}

.card-img {
  width: 100%;
  height: 100%;
}
.foreground-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  text-align: justify;
  text-justify: inter-word;
  gap: 2em;
  width: 95%;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  place-items: start center;
  width: 90%;
  gap: 2em;
  margin: auto;
}
.react-read-more-read-less-more,
.react-read-more-read-less {
  color: crimson;
  font-weight: bold;
}
label {
  font-size: 1.5rem;
  padding-right: 10px;
}
select {
  font-size: 1.1rem;
  padding: 6px 5px;
  border-style: none;
  border-radius: 0.2em;
  background-color: #7d69af;
  margin-top: -2em;
  color: white;
}
select option {
  background: #bfacf0;
  color: black;
}

footer {
  background-color: #7d69af;
  height: 200px;
}
.footer-content {
  transform: skewY(6deg);
  display: grid;
  place-items: end;
  width: 95%;
  margin: auto;
  padding: auto;
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  border-radius: 0.2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: larger;
  width: 100%;
  gap: auto;
  text-align: center;
  background-color: #aeb0b3;
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 0.5em 1.5em;
  font-size: 1em;
  color: rgb(100, 44, 93);
  background-color: #aeb0b3;
  cursor: pointer;
  transition: background 0.1s;
}

.radio-input:checked + .radio-label {
  background-color: #b7defc;;
}

.radio-label:not(:last-of-type) {
  border-right: 0.5em solid rgb(66, 49, 49);
}
.radio-label:not(:last-of-type) {
  border-right: 0.5em solid #7d69af;
}

.center {
  display: grid;
  place-items: center;
  width: 100%;
}
.d-none {
  display: none !important;
}
.error-alert, .success-alert {
  display: block;
  margin: auto;
  width: 60%;
}

@media screen and (min-width: 300px) and (max-width: 740px) {
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
