.leaflet-popup-content {
  /* max-width: 240px;
  max-height: 240px;
  overflow-y: scroll; */
  background-color: "#bfacf0";
  padding: 0;
}

.leaflet-popup-content-wrapper {
  background-color: "#bfacf0";
}

.marker-cluster {
  background-color: rgb(197, 139, 139);
}

.marker-cluster div {
  background-color: rgb(223, 21, 21);
}

.main-map {
	height: 75vh;
	width: 80vw;
	margin: auto;
}

@media only screen and (max-device-width: 1048px) {
	.main-map {
		height: 45vh;
	}
}